@import "variables/global";
@import "reset";
@import "themes/dark";
@import "themes/normal";
@import "themes/orange";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    color: var(--primary-color);
    background: var(--bg-color);
}

.page-wrapper {
    display: flex;
}
