.loginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.loginInpiut {
    margin-bottom: 15px;
}

.error {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    color: var(--error-color);
}
