.title {
    margin: 0;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.paragraph {
    margin: 0;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .paragraph {
        color: var(--secondary-color);
    }
}

.error {
    .title,
    .paragraph {
        color: var(--error-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .paragraph {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .paragraph {
        font: var(--font-l);
    }
}
