.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  position: relative;
  display: flex;
  flex-direction: column;
  transition: width 0.2s;
  background-color: var(--bg-color-inverted);
  padding: 20px;
}

.collapsed {
  width: var(--sedebar-width-collapsed);
}