.articleDetailed {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 15px;
}

.body {
    margin-bottom: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
    margin-bottom: 10px;
}

.avatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.block {
    margin-bottom: 16px;
}
