.profileCard {
    border: 2px solid var(--inverted-bg-color);
    padding: 20px;
}

.userInput {
    display: flex;
    margin-bottom: 10px;
}

.loader,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarWrapper {
    display: flex;
}

.editing {
    border-color: var(--inverted-primary-color);
}
